In [41]:
#import Necessary Packages 

import os
import yaml
import pandas as pd
import os
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
#Extract YAML data organized by months and transform it into CSV files for each symbol.
#2023-10

yml_folder=r"H:\GUVI_FILES\Stack_Analysis"
output_folder=r"H:\GUVI_FILES\Output_Stack_Analysis"
month_path=r"H:\GUVI_FILES\Stack_Analysis\2023-11"
file_path=r"H:\GUVI_FILES\Stack_Analysis\2023-11\2023-11-01_05-30-00.yaml"

In [6]:


def extract_transform_yml_to_csv(yml_folder, output_folder):
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    for month_folder in os.listdir(yml_folder):
        month_path = os.path.join(yml_folder, month_folder)
        if os.path.isdir(month_path):
            for yml_file in os.listdir(month_path):
                file_path = os.path.join(month_path, yml_file)
                with open(file_path, 'r') as file:
                    data = yaml.safe_load(file)

                    # Assume `data` is organized by symbols
                    for record in data:
                        symbol = record.get('symbol', 'Stack_data')
                        symbol_file = os.path.join(output_folder, f"{symbol}.csv")
    
                        symbol_df = pd.DataFrame([record])  # wrap single record in list
                        symbol_df.to_csv(symbol_file, mode='a', header=not os.path.exists(symbol_file), index=False)


    print(f"CSV files saved in {output_folder}")

extract_transform_yml_to_csv(yml_folder,output_folder)

CSV files saved in H:\GUVI_FILES\Output_Stack_Analysis

In [31]:
data=pd.read_csv('Stack_data.csv')
data.head()

,Ticker,close,date,high,low,month,open,volume
0,SBIN,566.40,2023-11-01 05:30:00,569.65,563.85,2023-11,566.25,13575575
1,BAJFINANCE,7471.90,2023-11-01 05:30:00,7549.00,7457.65,2023-11,7520.00,462778
2,TITAN,3173.40,2023-11-01 05:30:00,3212.90,3168.35,2023-11,3193.85,756820
3,ITC,428.10,2023-11-01 05:30:00,431.10,425.50,2023-11,430.00,7990245
4,TCS,3330.65,2023-11-01 05:30:00,3371.60,3311.00,2023-11,3355.00,1563475

In [35]:
data.shape

(13200, 8)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  13200 non-null  object
 1   close   13200 non-null  float64
 2   date    13200 non-null  object
 3   high    13200 non-null  float64
 4   low     13200 non-null  float64
 5   month   13200 non-null  object
 6   open    13200 non-null  float64
 7   volume  13200 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 825.1+ KB

In [39]:
data.isnull().sum()

Ticker    0
close     0
date      0
high      0
low       0
month     0
open      0
volume    0
dtype: int64

In [41]:
data.describe()

              close          high           low          open        volume
count  13200.000000  13200.000000  13200.000000  13200.000000  1.320000e+04
mean    2481.589733   2509.236131   2453.862477   2483.109058  6.997735e+06
std     2600.302007   2628.638698   2571.281511   2601.693872  1.158727e+07
min      116.600000    118.550000    114.600000    114.600000  5.987000e+03
25%      834.425000    844.312500    823.675000    836.750000  9.688152e+05
50%     1518.975000   1534.225000   1503.625000   1520.050000  2.484116e+06
75%     3133.062500   3174.662500   3095.725000   3139.962500  8.788930e+06
max    13495.600000  13680.000000  13274.450000  13393.000000  2.680527e+08

In [47]:
data.groupby('Ticker')['volume'].idxmax()

Ticker
ADANIENT       1174
ADANIPORTS     7325
APOLLOHOSP     6070
ASIANPAINT    12832
AXISBANK       5997
BAJAJ-AUTO    11999
BAJAJFINSV    10277
BAJFINANCE     6201
BEL            7326
BHARTIARTL     7914
BPCL           3242
BRITANNIA      6293
CIPLA         12491
COALINDIA      6229
DRREDDY        8135
EICHERMOT      4878
GRASIM         8122
HCLTECH        6058
HDFCBANK      10348
HDFCLIFE       7684
HEROMOTOCO     6446
HINDALCO       3595
HINDUNILVR     7369
ICICIBANK     11073
INDUSINDBK    12281
INFY           7212
ITC            4603
JSWSTEEL      11059
KOTAKBANK      5987
LT             6405
M&M            4471
MARUTI        10330
NESTLEIND      1689
NTPC           7318
ONGC           5690
POWERGRID      7311
RELIANCE      10307
SBILIFE        9094
SBIN           7300
SHRIRAMFIN     5088
SUNPHARMA      6936
TATACONSUM    12056
TATAMOTORS     4365
TATASTEEL      4783
TCS            8654
TECHM          6017
TITAN          8952
TRENT         11313
ULTRACEMCO     8110
WIPRO          2566
Name: volume, dtype: int64

In [49]:
data.loc[data['volume'].idxmax()]

Ticker                    BEL
close                  255.55
date      2024-06-04 05:30:00
high                    312.0
low                    230.05
month                 2024-06
open                    312.0
volume              268052657
Name: 7326, dtype: object

In [17]:

# Load the main dataset
df = pd.read_csv("Stack_data.csv")  # Replace with your actual file path

# Create a folder to save split files
os.makedirs("Sticker_wise", exist_ok=True)

# Split and save each ticker
for ticker, data in df.groupby("Ticker"):
    data.to_csv(f"Sticker_wise/{ticker}.csv", index=False)

print("Ticker-wise CSV files saved in 'ticker_files' folder.")

Ticker-wise CSV files saved in 'ticker_files' folder.

In [23]:
adan=pd.read_csv('Sticker_wise/ADANIENT.csv')
adan.tail()

,Ticker,close,date,high,low,month,open,volume
259,ADANIENT,2826.80,2024-11-14 05:30:00,2844.80,2801.00,2024-11,2824.00,646797
260,ADANIENT,2818.70,2024-11-18 05:30:00,2858.65,2793.30,2024-11,2826.80,489692
261,ADANIENT,2821.50,2024-11-19 05:30:00,2894.80,2809.80,2024-11,2831.00,536296
262,ADANIENT,2183.65,2024-11-21 05:30:00,2539.35,2155.05,2024-11,2539.35,21796668
263,ADANIENT,2228.00,2024-11-22 05:30:00,2289.70,2025.00,2024-11,2101.00,20939196

In [29]:
adan.duplicated().sum()

0